{% extends 'base.html.twig' %}

{% block title %}Embarcacion index{% endblock %}

{% block body %}
    <h1>Embarcacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Tamano</th>
                <th>Bandera</th>
                <th>Tipo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for embarcacion in embarcacions %}
            <tr>
                <td>{{ embarcacion.id }}</td>
                <td>{{ embarcacion.Matricula }}</td>
                <td>{{ embarcacion.Nombre }}</td>
                <td>{{ embarcacion.Tamano }}</td>
                <td>{{ embarcacion.Bandera }}</td>
                <td>{{ embarcacion.Tipo }}</td>
                <td>
                    <a href="{{ path('app_embarcacion_show', {'id': embarcacion.id}) }}">show</a>
                    <a href="{{ path('app_embarcacion_edit', {'id': embarcacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_embarcacion_new') }}">Create new</a>
{% endblock %}
